@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "AWAKENNING";
  src: url("./assets/font/awakening/AWAKENNING Personal Use.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
}
